[2021-09-08 16:17] piotrnajda3000 opened #7 "Foundation Flex exercises layout 2 - part of the solution is not marked as such"
I'll be glad to tackle this.

In [solution.css](https://github.com/TheOdinProject/css-exercises/blob/main/flex/07-flex-layout-2/solution/solution.css) file, there are two parts:

- CSS code extracted from `style.css` that we are supposed to work from
- the `/* Solution */` part.

The problem:

In solution.css, `.card`'s `width: 300px` which is part of the solution, is added to the `.card` in the p

[2021-09-12 20:02] curryworry opened #10 "CSS Exercises 2 - Font Recommendations Don't Match Screenshot"
The screenshot in the README.md file (https://user-images.githubusercontent.com/70952936/131268858-5360bb32-27ba-4ce0-be59-5fda97f5eb12.png) shows all text as sans-serif (potentially Verdana).

The instructions state to only make the odd-numbered elements Verdana: "* **All odd numbered elements**: a light red/pink background, and a list of fonts containing `Verdana` as the first option and `sans-s

[2021-09-15 08:15] kyyeo opened #21 "Suggest to include a step to FORK before cloning"
Hello TOP, thanks for this content. It helps solidify understanding.

However, can I suggest a minor update to README.md? It is best to specify that learners go to the top-right in Github, click `Fork`, before cloning.

Otherwise, learners (like myself) would face the following hint when trying to commit to their own GitHub repo `adding embedded git repository`

[2021-09-21 07:36] Mogashni commented on #21
I agree with adding how to do the fork step in the README.md

[2021-09-27 15:24] pratikthorat8 opened #31 "Confusion between type and class name."
![Github Issue](https://user-images.githubusercontent.com/46789011/134937487-57c277a9-afac-48ac-80de-9cf55ba441ce.JPG)
In CSS exercise margin and padding 2 section, It will better if we use a different class name. Seems trivial but I was confused while styling the third div in this assignment. It will be better if the class name would be changed to something like container. or sub__container (I us

[2021-09-28 04:44] Wanderer1980 commented on #10
Thanks for posting this! I was curious about this discrepancy as well.

[2021-10-03 21:28] Ja-ime opened #38 "Foundations/04-chaining-selectors: Fix redundancy"
**To improve comprehension consider adding a third image and shared property to the challenge.**
Currently the `avatar` class is redundant as the desired outcome can be achieved without chaining selectors.

In other words you can complete the challenge by assigning the prescribed properties (of height and width) to `.proportioned` and `.distorted` without chaining to `.avatar`. Students wanting to

[2021-10-04 19:11] codyloyd commented on #10
this is because the creator's computer defaults to that font instead of the serif font your computer is using.

might be worth updating... but we can't really predict what other users are going to see, and if we change it, it would be confusing for users that are getting sans-serif fonts in their local environment but seeing a serif font in the screenshot.

perhaps an easier solution overall would

[2021-10-04 19:12] codyloyd commented on #7
this has been fixed thanks

[2021-10-04 19:12] #7 closed

[2021-10-04 19:12] codyloyd commented on #21
done! thanks

[2021-10-04 19:12] #21 closed

[2021-10-04 19:17] codyloyd commented on #31
this is a fine suggestion.  will fix.

[2021-10-04 19:18] #31 closed

[2021-10-04 19:18] #38 closed

[2021-10-07 05:30] VaultDweller13 opened #51 "flex/04-flex-information"
It said twice in the self-check section that items should be arranged horizontally, not vertically. Yet in the solution there is `align-items: center` property in the .container class. Is that how it supposed to be? Third plant icon is visibly lover than others due to that.

[2021-10-18 00:33] ShepleySound opened #55 "04-chaining-selectors: Exercise is solvable without selector chaining."
The "original" photos in this exercise have hyphenated class values (original-proportioned/original-distorted).

This makes it so that the exercise is solvable by only selecting the unique classes in the "avatar" photos. There's no need to chain the avatar class, since "proportioned" and "distorted" are not actually shared between the elements.

Solution: Remove hyphens from the second set of phot

[2021-10-25 04:52] 17radf opened #60 "07-flex-layout-2/solution: weird sidebar"
![image](https://user-images.githubusercontent.com/12584890/138636490-62640ead-e566-4de5-b3c0-a01c0213a290.png)
Is it supposed to be like this?

Solution: add `flex: 1;` to the card container instead of sidebar.
This is the solution output:
![image](https://user-images.githubusercontent.com/12584890/138636312-88aa4e1f-27cc-44c3-aaa0-5b95573427e8.png)

[2021-11-02 00:41] nerdee007 commented on #10
This was confusing to me as well.  I think, in the future,  I'll just use the html solutions output to compare my output.

I used monospace in this exercise to see if my solution was doing what it was supposed to be doing.

[2021-11-02 14:40] duncantop commented on #55
I think I miss the point of this exercise. Why do we even need an avatar class name? I'm new to this, but it feels like avatar should be doing something to transform images, and then proportioned and distorted should make their own modifications. Is defining a "single selector" with chained class names just a normal idiom?

[2021-11-14 07:04] thounny opened #67 "05-flex-modal/solution/solution.css"
I'm not sure if it's just me, but the solution doesn't align the close-button to the top right of the page. I can't seem to figure out how to do that.

[2021-11-14 07:05] #67 closed

[2021-11-14 07:08] thounny commented on #67
Figured it out. I think it was because I forgot to close the container div.

[2021-11-18 15:05] hmsiegel opened #68 "05-flex-modal: The solution is wrong"
The desired outcome image shows the close-button on the right hand side:
![image](https://user-images.githubusercontent.com/49638789/142440041-fb737c16-cd37-44e8-b9b9-bd62fc55b2a0.png)

But, when pulling up the solution in my browser, this is what I get:
![image](https://user-images.githubusercontent.com/49638789/142440224-8a34ce85-69fd-42af-855e-80c0cd4d5f03.png)

Either the initial html code is

[2021-12-01 11:35] Frittenfred97 opened #76 "06-cascade-fix: color blindness problem red/green"
in the exercise 06-cascade-fix the colors red and green were used, but for people that have colorblindness it is difficult to see the difference. If possible it would be better to use opposite colors like yellow/blue, red/yellow, blue/green.

[2021-12-04 16:05] thatblindgeye commented on #10
I feel the only way to ensure the screenshot matches what the user sees is by having the `style.css` file (outside of the solutions directory) include a font-family property. Doing so would defeat the purpose of the exercise, which is to have users practice writing out the syntax for adding a font-family to a selector on their own.

As the issue seems to have been resolved with an update to the RE

[2021-12-04 16:05] #10 closed

[2021-12-04 16:18] thatblindgeye commented on #55
@ShepleySound Thank you for mentioning this, and apologies that it took so long to get back. Would you like to be assigned to fix this issue?

@duncantop The point of the exercise is just to practice chaining selectors.

[2021-12-04 16:24] thatblindgeye commented on #60
@17radf  Can you ellaborate on this issue? Is the first screen shot what *you* see when running your own solution? If so, then it sounds like this is less an issue with the exercise and more that you haven't yet solved the exercise.

If you have already solved this and moved on, please let me know and I will close this. Otherwise if you haven't still solved it, it may be worth asking for help on o

[2021-12-04 16:30] thatblindgeye commented on #68
@hmsiegel  Per the README of this exercise:

"You'll need to edit the HTML a bit to get everything where it needs to be."

Therefore this is purposeful, as the user is meant to move the `close-button` `div` into the `header` `div`. Since there is nothing that needs updating in regards to this issue, I will be closing it. If you feel the instructions for the exercise could use improvement, please s

[2021-12-04 16:30] #68 closed

[2021-12-04 20:55] ShepleySound commented on #55
@thatblindgeye Sure, I'd be happy to!

[2021-12-05 05:00] 17radf commented on #60
The first screenshot is the solution this repository gave me and it is showing like that instead of the requested output, and the second screenshot is mine with my own solution too.

I don't know about others whether it works on their browser or they have an issue just like me. But, yea I already solved it and moved on.

[2021-12-05 17:49] thatblindgeye commented on #60
When I open `solution.html` in both Firefox and Chrome I see the expected output, so I'm not sure what may have occurred.

Since you've moved on and it doesn't seem like the issue is a widespread one, I will close this issue, but thank you for mentioning it to be looked into.

[2021-12-05 17:49] #60 closed

[2021-12-06 13:18] hmsiegel commented on #68
@thatblindgeye I understand that the user is meant to move the` close-button` `div`. My comment was more geared towards the included solution, which isn't showing the `close-button` in the correct position.

[2021-12-07 12:10] thatblindgeye commented on #55
Closed as an update was merged in #77

[2021-12-07 12:10] #55 closed

[2021-12-08 13:58] sriteja2602 commented on #51
_items should be arranged horizontally, not vertically_  -  I think they mean that the div is not necessarily to be positioned vertically (using margin) and the align-items is used to align the flex items inside the display: flex div

[2021-12-16 05:35] rishvantsingh commented on #76
I would like to work on this issue.

[2021-12-18 14:26] GabJen opened #82 "Exercício css"

[2021-12-18 14:26] #82 closed

[2021-12-19 08:57] Munmun6392 commented on #76
Hello @Frittenfred97  I want to work on this. Please assigned it to me.

[2021-12-19 08:59] Munmun6392 commented on #51
Hello @VaultDweller13  you can use framework to set items in center position.

[2021-12-19 13:50] marvingay commented on #76
@rishvantsingh Are you still interested in working on this?

[2021-12-29 23:28] PinkieBarto opened #88 "07-flex-layout-2 - adding more information to self-check"
Having spent 2 hours debugging an extremely simple fix, I propose adding a single line to self-check section to avoid wasting time for new learners:

- Ensure each card has a width of 300px

[2022-01-04 03:13] joshshark opened #93 ""Readme" needs to detail "Fork" process"
The Readme for the CSS Exercises [https://github.com/TheOdinProject/css-exercises/blob/main/README.md](url) main folder says to "fork and clone" the Github repository, but the curriculum never explains how to "fork" a repository when we get to this point.

When following the curriculum and getting to the "Practice" section of "CSS Foundations" lessons [https://www.theodinproject.com/paths/foundati

[2022-01-06 01:58] SnakeGandhi commented on #93
Created Pull Request that suggests a change. Good eye. I was coming here to post this issue too. (https://github.com/TheOdinProject/css-exercises/pull/95)

[2022-01-06 17:02] kiaenOdin opened #96 "flex-04-information"
The content of the information blurbs aren't all aligned. Pepper is slightly lower than the other three.
It bothers me, could fixing that be added to the solution?

It's caused by the lack of a third line the that particular one.

I didn't have the same issue, as I made each blurb it's own flex container, instead of one whole flex container.

[2022-01-12 01:52] Aman-8955 opened #103 "Change colors"
I want to change some colors in your code for better user interface

[2022-01-12 02:10] xandora commented on #103
Please describe the changes you think should be made.

[2022-01-14 04:18] Aman-8955 commented on #103
I made a pull request you can check it

[2022-01-16 19:28] thatblindgeye commented on #93
Closing this issue as it was resolved in #95 as mentioned above.

[2022-01-16 19:28] #93 closed

[2022-01-16 19:35] thatblindgeye commented on #88
@PinkieBarto Would you want to make a PR to add that item to the Self check of the exercise?

[2022-01-16 20:27] thatblindgeye commented on #96
@kiaenOdin I believe there is a simpler solution to this, which was also mentioned in #51 . Would you want to make a PR to remove the `align-items: center;` rule from the `.container` block in the `solution.css` file?

This should fix the issue of the Self Check stating to not align things vertically, while also fixing the issue of one item looking lower than the rest (though this may not 100% all

[2022-01-16 22:53] skeeler79 opened #111 "style.css Solutions for Margin and padding 2 issue"
Hi-
The solution in for the style.css doc in the margin-and-padding-2 exercise eliminates the background color for the boxes.
<img width="506" alt="Screen Shot 2022-01-16 at 5 52 56 PM" src="https://user-images.githubusercontent.com/92762914/149681463-9cfc8fcc-8b15-453a-a571-c9078dfa9a72.png">

[2022-01-17 02:32] thatblindgeye commented on #111
When I open the solution.html file, I see the background to the those three elements (the title, content, and button container), though they are difficult to see due to how light all the background colors are.

Are you sure you did not change anything in the solutions.css file, and that the screenshot you posted is from the provided solutions files and not your own solution?

[2022-01-17 02:33] thatblindgeye commented on #103
Closing this issue as explained in #109

[2022-01-17 02:33] #103 closed

[2022-01-17 14:39] skeeler79 commented on #111
Ok, then maybe I'm not understanding the solution completely. I had trouble
with this particular exercise, so I was studying the solution more closely
than the other exercises. Does the solution code, which is printed below
the original code, include only the changes that need to be made and not
the entire code?

When I was confused looking at the solution, I copy and pasted the code
into my VS co

[2022-01-21 11:32] scheals opened #115 "No contributing guidelines"
The curriculum repo provides a [wiki page](https://github.com/TheOdinProject/curriculum/wiki/Contributing-Guide) with a contributing guide and references a PR template that is used by that repo. This repo doesn't have a contributing guide nor does it link to the curriculum one and it doesn't have a PR template.

To me it seems that the same template and guide could be used in this repo and other e

[2022-01-22 16:53] scheals commented on #88
@thatblindgeye I will gladly take this on if possible :)

[2022-01-23 17:03] thatblindgeye commented on #88
@scheals I've assigned you, thank you for taking this on!

[2022-01-23 17:08] thatblindgeye commented on #51
As was mentioned in #96 I believe there is a simpler solution to this. For anyone that would like to be assigned, in order to resolve this issue please follow the below acceptance criteria:

* Remove the `align-items: center;` rule from the `.container` block in the solution.css file

This should fix the issue of the Self Check stating to not align things vertically, while also fixing the issue of

[2022-01-23 17:09] thatblindgeye commented on #96
Because this is a duplicate issue, I will be closing this. Any further work or discussion on this issue should take place in #51

[2022-01-23 17:09] #96 closed

[2022-01-24 00:02] thatblindgeye commented on #111
Usually the content in the "Solutions" section of the code is just what should be added, unless otherwise stated (some exercise solutions may state "We removed XYZ...", for example).

So for this exercise, it looks like the code below the "Solution" area in the CSS file should be *in addition to* the original code, not in place of.

[2022-01-24 13:12] #88 closed

[2022-01-24 15:29] scheals commented on #51
I created a PR and linked it to this issue. Sorry for not leaving a comment earlier.

[2022-01-25 00:35] thatblindgeye commented on #51
Ah gotcha. Appreciate the enthusiasm! In the future just be sure to ask on an issue before starting any work; I doubt anyone else had been working on this issue but you never know.

[2022-01-25 00:38] #51 closed

[2022-01-26 04:59] rcamach7 opened #120 "logic not correct for exercise one of grid layout"
[Link To exercise](https://github.com/TheOdinProject/css-exercises/tree/main/grid/01-grid-layout-1)
I believe logic should be reversed for the highlighted / boxed self check item below:
![css_grid](https://user-images.githubusercontent.com/20146375/151106121-2feecd66-18e1-49b1-86c0-0a32f90b6e8f.png)

It should be something along the lines of

**- The second column is three times larger than the fi

[2022-01-26 12:12] benedictfernando opened #121 "wrong solution for "flex/03-flex-header-2" exercise"
### issue:

- rightmost header components _(button and notification)_ are **not aligned** with the desired outcome

### solution link:

- https://github.com/TheOdinProject/css-exercises/blob/main/flex/03-flex-header-2/solution/solution.css, _line 50 and beyond_

[2022-01-28 23:44] xdarkroth opened #123 "02-class-id-selectors: solution does not match desired outcome"
Issue:
In exercise 02-class-id-selectors, solution does not match with desired outcome.
solution.css does not apply font-family to all html elements
Desired outcome:
![desired-outcome](https://user-images.githubusercontent.com/98468762/151636674-5c541a80-09c8-4d96-bb19-3a45bbb8d74c.png)
Solution:
![Screenshot 2022-01-29 at 00 49 19](https://user-images.githubusercontent.com/98468762/151636679-31ef

[2022-01-29 01:29] #123 closed

[2022-01-29 02:18] thatblindgeye commented on #121
Can you explain what you mean by those components not being "aligned with the desired outcome"?

[2022-01-30 15:14] LPRegen commented on #120
Can I take this of @thatblindgeye ? Obviously if @rcamach7 isn't going to do it.

[2022-01-30 17:01] thatblindgeye commented on #120
Thank you for wanting to take this on, @LPRegen ! Unfortunately it looks like a PR is already open for this issue.

[2022-01-30 17:28] thatblindgeye commented on #120
Update: @LPRegen due to some confusion this issue is open again. I have assigned you if you would like to work on it.

[2022-01-31 03:51] thatblindgeye commented on #120
This has been resolved in PR #128

[2022-01-31 03:51] #120 closed

[2022-02-01 16:52] benedictfernando commented on #121
When [solution.css](https://github.com/TheOdinProject/css-exercises/blob/main/flex/03-flex-header-2/solution/solution.css) is linked in pair with the [solution.html](https://github.com/TheOdinProject/css-exercises/blob/main/flex/03-flex-header-2/solution/solution.html), the `profile-image` and `notifications` elements come up around the middle part of the navbar instead of it being at the leftmost

[2022-02-01 22:24] thatblindgeye commented on #121
I'm still unsure what the issue is that you're referring to. When I open the solution.html file locally, it looks and behaves as the Desired Outcome of the README.

If you're seeing something different it would help if you provided an image and/or made sure your solution.html and solution.css files weren't altered.

[2022-02-02 22:55] #115 closed

[2022-02-04 15:53] MasQueElite opened #132 "Foundations > 02-class-id-selectors: "DejaVu Sans" should be in quotes"
At `solution.css`:

*font-family: Verdana, DejaVu Sans, sans-serif;* should be *font-family: Verdana, **"DejaVu Sans"**, sans-serif;*

[2022-02-04 22:31] nourHalhoul opened #133 "05 flex modal: solution files do not match desired outcome"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/thatblindgeye/css-exercises/blob/main/CONTRIBUTING.md)
- [x] The title of this issue is similar to the `file, exercise/lesson, or folder: brief description of bug` format, e.g. `01 flex center: solution files do not match desired outcome

- [ ] If approved, I would like to be assigned this issue to

[2022-02-04 22:44] xandora commented on #133
Seems OK to me through VSCode Live Preview:
![image](https://user-images.githubusercontent.com/2021268/152613005-4561556c-ed71-4c88-b831-556522d1571b.png)

As well as through Chrome and Firefox:
![image](https://user-images.githubusercontent.com/2021268/152613125-48df3ba8-bb11-435e-b252-f0de943e3b4d.png)

[2022-02-04 22:57] nourHalhoul commented on #133
I spent hours trying to figure out what was wrong with my code. Turns out, I closed my container right after the "close-button" element, instead of the "cancel" element.
I need to take a break.

[2022-02-04 22:57] #133 closed

[2022-02-08 23:26] thatblindgeye commented on #111
Closing as it seems the issue was more the instructions may not have been clear than an actual issue with the solution code.

[2022-02-08 23:26] #111 closed

[2022-02-09 21:56] #76 closed

[2022-02-10 04:24] thatblindgeye commented on #121
@benedictfernando Checking in to see if you've seen the above message.

[2022-02-10 08:48] benedictfernando commented on #121
Hello @thatblindgeye~ apologies for my mistake. I have reckoned it's an oversight on my side, since I have mixed and matched the `solution.css` file from the repository to my own version of `index.html`, forgetting to use `solution.html` in pair with it. Furthermore, upon testing it in a Codepen, you're definitely right that the solution behaves accordingly with the _desired outcome_ of the README

[2022-02-10 08:48] #121 closed

[2022-02-10 12:51] thatblindgeye commented on #121
Not a problem! I just wanted to make sure whether there was an issue or not is all, but am glad it was resolved either way! 🙂

[2022-02-10 15:11] TobiOkanlawon opened #136 "Mistake in grid/01-grid-layout-1/README.md"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue is similar to the `file, exercise/lesson, or folder: brief description of bug` format, e.g. `React section: Knowledge Checks don't link to resource`

- [x] I would like to be assigned this issue to work on it

**

[2022-02-10 15:12] TobiOkanlawon commented on #136
I'd like to fix it please.

[2022-02-11 03:44] Eduardo06sp opened #137 "READMEs for exercises: Self Checks should be hidden / in a drop-down"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue is similar to the `file, exercise/lesson, or folder: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [x] I would like to be assigned this issue to work on it

**1. Descri

[2022-02-12 07:54] danironic opened #138 "Incorrect statement in css flexbox exercise #3"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue is similar to the `file, exercise/lesson, or folder: brief description of bug` format, e.g. `React section: Knowledge Checks don't link to resource`

- [ ] I would like to be assigned this issue to work on it

**

[2022-02-12 18:44] #138 closed

[2022-02-14 20:05] ItsAndreWright commented on #132
I'd like to make this fix if it hasn't been assigned

[2022-02-19 07:16] Rutvik5999 commented on #132
Hello I want to fix this and i sure i'm fix this properly

[2022-02-19 15:35] dm-murphy commented on #136
Thanks Tobi, but this was previously fixed in a PR from 20 days ago. If you are still seeing the old version you can update your repo.

[2022-02-19 15:35] #136 closed

[2022-03-04 15:30] Maheshkumar-novice commented on #132
I've noticed this too. I was going to create a new issue but I saw this is already an issue here. This definitely needs a fix and somebody needs to fix it.

[2022-03-05 15:42] KevinMulhern opened #146 "Checking discord webhooks"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-03-05 15:42] #146 closed

[2022-03-12 16:24] PerseveranceX opened #150 "Foundations > 04-chaining-selectors : Add details about the height:auto effect in solution.css"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-03-14 18:27] thatblindgeye commented on #132
Apologies for the delay in reply, everyone. @scheals since you first asked, please let me know if you want to still work on this. Otherwise I will move down the list of who else has replied.

[2022-03-14 18:31] thatblindgeye commented on #137
I'm not entirely sure whether putting those items in a collapsed details element would really deter people from viewing hints/possible answers before making their own attempt.

What do you think of adding in some verbaige after the Self Check heading and before the bulleted list, or even in this repo's README itself? "Once you finish your attempt at an exercise, be sure that your solution passes t

[2022-03-14 18:37] thatblindgeye commented on #150
This is something that is already mentioned in the CSS Foundations lesson, as well as that it's better to explicitly set these properties. If anything, the quick example your provided ("If the the proportions of the image is 1:2...") could work better in the actual lesson that mentions this. Would you want to make that issue in our curriculum repo instead, being sure to mention this issue in it?

[2022-03-14 20:31] #132 closed

[2022-03-15 10:25] PerseveranceX commented on #150
Thanks for your response! @thatblindgeye
Rechecked the lesson you're correct it's already mentioned, and I think the example will help make it more clear in the lesson itself, so will open an issue there and mention this issue in it.

[2022-03-15 10:25] Micosaur opened #153 "CSS Foundations Exercise 05-descendant-combinator: Add full solution"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-03-17 02:09] Micosaur opened #154 "flex/06-flex-layout: Add a working link to href"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-03-17 21:43] Micosaur opened #155 "flex/07-flex-layout-2: Add a working link to href"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-03-19 03:17] Eduardo06sp commented on #137
@thatblindgeye maybe I'm just overthinking it, but even as I read the instructions, I easily catch a glimpse of the self checks which can be very strong hints (and some users may not want), hence the suggestion to hide in a dropdown

if that's still deemed unnecessary, and that little note would be very helpful.
Some are unsure if they should try first, then look at the Self Check!
Let me know and

[2022-03-21 12:10] thatblindgeye commented on #137
Maybe the self checks could be looked over again and made sure whether users should be checking them after, before, or during their attempt. Some early ones are more "make sure you use flexbox", but then quickly the self check turns into something that actually has important information ("make sure X is 8px....").

I'm thinking that if there's information that is more necessary (like exact px valu

[2022-03-23 17:46] Eduardo06sp commented on #137
That's an excellent idea, if you need help with anything from here, I'll gladly give it a shot. :}

[2022-03-23 21:43] thatblindgeye commented on #154
I don't believe this is worth updating for. The purpose of the exercises isn't to have or add working links, but to practice using Flex properties.

[2022-03-23 21:45] thatblindgeye commented on #153
This I believe could be good to add in as a commented out part, though the first option would be much better than needlessly repeating all of the styles.

I've assigned you. Just an FYI, you shouldn't complete the checkboxes for the Acceptance Criteria ahead of time; those can be completed as each item is completed.

[2022-03-24 05:57] Micosaur commented on #154
I hope you can reconsider. I believe that it is important to be consistent whenever seeing or using anchors/href by adding protocols (http) for urls. Consistency is key, especially for beginners. If not, I understand and will be closing both issues after getting your reply (or you can close it too).

[2022-03-24 05:59] Micosaur commented on #153
Gotcha

[2022-03-24 11:30] thatblindgeye commented on #154
Ultimately I won't block the update so I can assign you. I would lump the updates for both issues in one PR, though. Either the first or second option should be done, as it definitely shouldn't be a part of the exercise instructions.

[2022-03-24 11:31] thatblindgeye commented on #155
See #154 for context

[2022-03-26 11:48] #153 closed

[2022-03-27 14:07] #154 closed

[2022-03-27 14:08] #155 closed

[2022-04-06 12:26] #150 closed

[2022-04-16 14:02] thatblindgeye commented on #137
@Eduardo06sp just wanted to check in and see if you had any additional comments regarding this discussion?

[2022-04-16 14:05] thatblindgeye opened #170 "03-grid-layout-3: remove empty declaration blocks"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-04-21 17:57] dm-murphy commented on #170
@thatblindgeye

That was set up purposefully to give learners the selectors they needed to fill in, since some of these weren't obvious. As one of the Hints points out: "You only need to add to the current CSS selectors"

If these blank selectors are removed from the exercise then that hint also needs to be removed and ideally replaced with a note that the learner will need to add missing selector

[2022-04-22 00:22] thatblindgeye commented on #170
@dm-murphy Ah, I see what you mean. Do you feel strongly about keeping those empty declaration blocks in?

[2022-04-22 14:12] dm-murphy commented on #170
@thatblindgeye No, I'm certainly open to changing it if that would help. Did any learners report being confused by the empty declarations?

I think giving them ahead of time makes this exercise more about practicing the right CSS Grid properties and less about designing a layout. This was really a warmup before the follow-up Dashboard project that has them do everything from scratch.

We could als

[2022-04-23 02:27] Eduardo06sp commented on #137
@thatblindgeye honestly not really, just thought of it as a small enhancement,
but I think it's find how it is, just adding a heads up or more consistency to the purpose of self-checks would definitely be beneficial

(e.g. state before each self check something like "after you've finished, make sure you review these")

[2022-04-28 18:06] thatblindgeye commented on #170
@dm-murphy  I don't believe there have been any issues raised by users about it. For me it was just more about consistency and feeling users should be able to come up with the selectors for the exercise by the time they reach it. I'd say it could be worth removing the empty declaration blocks and rewording the exercise README to reflect that change, or add some other helpful hints that can sort of

[2022-05-07 11:50] thatblindgeye commented on #170
@dm-murphy If you're feeling up for it at some point (doesn't have to be immediate) we could have another PR made to reword those hints.

[2022-05-10 14:55] dm-murphy commented on #170
Sounds good @thatblindgeye! I can take care of the rewording with another PR.

[2022-06-02 14:12] rommo-e opened #181 "Flexbox exercises : Updating index.html"
Complete the following REQUIRED checkboxes:
-   [ /] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [/ ] The title of this issue follows the `location for request: brief description of request`

The following checkbox is OPTIONAL:

-   [/ ] I would like to be assigned this issue to work on

[2022-06-06 16:15] rommo-e commented on #181
Good morning!
For sure on the last part there is one </div> missing in the solution.html
, this causes the header to behave differently as expected.
I just added it so it changes the size if the window is manipulated.
I forked the project and update this :)

El El lun, jun. 6, 2022 a la(s) 11:09 a.m., Uday Mehtani <
***@***.***> escribió:

[2022-06-10 02:23] dm-murphy commented on #170
@thatblindgeye We should be good to go on both PR #173 and PR #175 that would close out this issue. I also just merged PR #183 which had an unrelated fix to the same exercise. I can review both open PRs and close this all out if that's good with you, unless there was anything else you'd like done for this exercise. Thanks! :-)

[2022-06-23 18:53] #181 closed

[2022-06-26 17:15] thatblindgeye opened #188 "06-cascade-fix: update exercise to not rely on color"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-07-17 15:31] kkoullapis opened #197 "Bug - : chaining selectors - images won't load in the given index.html file"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox is

[2022-07-22 15:20] Amandasilvbr opened #201 "Flex and Foundations: add alt text for accessibility."
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-07-25 21:41] #201 closed

[2022-07-25 21:42] dm-murphy commented on #188
@Amandasilvbr Any interest in taking on this accessibility issue? If so, just let us know! 🙂

[2022-07-25 21:45] dm-murphy commented on #197
Hi @kkoullapis 👋

I am not having any issues loading the `index.html` of the 04-chaining-selectors exercise. Are you still experiencing this issue and can you give any more details on your process for trying to open it? Thanks!

[2022-07-25 22:10] Amandasilvbr commented on #188
Hi, @dm-murphy ! Sure, yes i'm interested!

[2022-07-25 22:27] dm-murphy commented on #188
Great! Thanks @Amandasilvbr! You have just been assigned to the issue 🎉

Be sure to refer to the description of the request and the acceptance criteria above as you make your pull request. Please let us know if you have any questions! 🙂

[2022-07-31 19:46] #188 closed

[2022-08-19 18:26] DaveIsntFunny opened #215 "Bug - Flex exercises: readme missing requirements in the 06-flex-layout solution"
Complete the following REQUIRED checkboxes:
-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox i

[2022-08-20 14:44] martinhavens opened #216 "Bug - foundations/01-css-methods/solutions : Solution does not represent desired outcome"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox is

[2022-08-21 16:27] Rahilya opened #217 "Bug - : the desired outcome image and actual solution is very different you need to review it. Thanks."
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox is

[2022-08-21 17:44] gogoiakash2311 commented on #197
Hey! @kkoullapis
Download the images from the repo.

[2022-08-21 18:24] gogoiakash2311 commented on #197
hey! @kkoullapis
Download the images from the repo and try to change the image format to png. it will work.

[2022-08-23 22:40] DaveIsntFunny commented on #215
Ok, I looked at it again and the solution doesn't do anything that "text-align: center;" does.  It's just going everything the hard way apparently?

[2022-10-05 07:35] anujpandeyin commented on #215
.

[2022-10-13 17:29] dazzle-sah opened #234 "Help for these exercise"
Complete the following REQUIRED checkboxes:
-   [ Yes ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ Yes] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTION

[2022-10-13 17:29] #234 closed

[2022-10-13 17:31] dazzle-sah opened #235 "Want to add Cheatsheet"
Complete the following REQUIRED checkboxes:

[ Yes ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
[ Yes] The title of this issue follows the location for request: brief description of request format, e.g. Foundations exercises: Add exercise for XYZ
The following checkbox is OPTIONAL:

[ Yes ]

[2022-10-14 06:26] amancooks08 opened #236 "main : Add Code of Conduct"
Adding a CODE OF CONDUCT makes it easier for contributors and like-minded developers to find it easier to fit in the community and makes it a healthy environment to persevere. Assign this task to me with the hacktoberfest tag!! #wagmi

[2022-10-15 09:01] Mr-okey opened #239 "Add New Lessons In Animation"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-10-16 09:33] shreyash2610 opened #240 "Animations: Add CSS Checkbox Styles"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-10-20 15:08] advaith017 commented on #217
Hey there, could you be more clear about which exercise has this issue? Thanks

[2022-10-23 14:45] dsendros opened #244 "add properties to <div> via the external method"
a red background, white text, a font size of 32px, center aligned, and bold

[2022-10-23 14:45] dsendros opened #245 "add properties to <p> via the internal method"
a green background, white text, and a font size of 18px

[2022-10-23 14:45] dsendros opened #246 "add properties to <p> via the internal method"
a green background, white text, and a font size of 18px

[2022-10-23 14:46] dsendros opened #247 "add properties to <button> via the inline method"
an orange background and a font size of 18px

[2022-10-23 14:58] dsendros commented on #244
Sorry! Didn't understand how issues worked on forked repos.

[2022-10-23 14:58] #244 closed

[2022-10-23 14:58] dsendros commented on #245
Sorry! Didn't understand how issues worked on forked repos.

[2022-10-23 14:58] #245 closed

[2022-10-23 14:58] dsendros commented on #246
Sorry! Didn't understand how issues worked on forked repos.

[2022-10-23 14:58] #246 closed

[2022-10-23 14:58] dsendros commented on #247
Sorry! Didn't understand how issues worked on forked repos.

[2022-10-23 14:58] #247 closed

[2022-10-24 22:02] pjk2022 opened #248 "Bug - Flex modal exercise: Add missing solution comment"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox is

[2022-10-25 10:46] Muhammad-Zulqarnain-Awan commented on #248
Will you assign this issue to me?

[2022-10-25 15:39] pjk2022 commented on #248
I don't have the ability to assign the issue -- a TOP admin/contributor will likely review this first and then assign you!

[2022-10-27 11:58] kritika902 commented on #248
assign it to me plz

[2022-10-27 11:59] kritika902 commented on #240
plz assign it to me

[2022-10-27 12:40] ChargrilledChook commented on #240
Please provide more detail if this is a feature request, I'm a little unsure what you're asking.

[2022-10-27 12:40] #240 closed

[2022-10-27 12:49] #236 closed

[2022-10-27 12:51] ChargrilledChook commented on #235
Thank you for the suggestion but the exercises are intended to be done alongside the curriculum content, which is sufficient reference

[2022-10-27 12:51] #235 closed

[2022-11-02 17:44] c-auri opened #250 "flex/03-flex-header-2: Solution can be simplified by using margin-left:auto to split navigation"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `Foundations exercises: Add exercise for XYZ`

The following checkbox is OPTIONAL:

-

[2022-11-13 11:46] ev0clu commented on #216
Agree, it is still open.

[2022-11-13 12:01] ev0clu opened #256 "Bug: - foundations/02-class-id-selectors/desired-outcome.png : Solution does not represent desired outcome"
Complete the following REQUIRED checkboxes:
-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox i

[2022-11-28 21:49] l33tzke opened #259 "Bug - Foundations 03 - Grouping Selectors: Wrong font style used for desired outcome image"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - Grid exercises: CSS not properly linked to HTML files`

The following checkbox is